:root{
    /* dark mode colors: */
    /* --backgroundColor: #36363f; */
    /* --baseColor: #4a4a4d; */
    /* --baseColorHeavy: #48484b; */
    /* --baseColorLight: #4b4b4f; */
    /* --baseColorHeaviest: #454548; */
    /* --headerColor: #2f2f35; */
    /* --footerColor: #323237; */
    /* --textColor: #f5f5f5; */
    /* --textShadowColor: #000000aa; */
    /* --textShadowColorInverse: #ffffffaa; */
    /* --dateColor: #aaaaaa; */
    /* --boxShadowColor: #03030345; */
    /* --boxShadowColorHeavy: #03030370; */
    /* --boxShadowColorLight: #00000020; */
    /* --borderColor: #050505; */
    /* --linkColor: #6666ff; */
    /* --errorBoxColor: #ff5555; */
    /* --githubIconURL: url('/imgs/github-white.png'); */
    /* --userIconURL: url('/imgs/user-white.png'); */
    /* --cogIconURL: url('/imgs/cog-white.png'); */

    --backgroundColor: #dfdfdf;
    --baseColor: #ffffff;
    --baseColorLight: #ffffff;
    --baseColorHeavy: #f6f6f6;
    --baseColorHeaviest: #f0f0f0;
    --headerColor: #cbcbcb;
    --footerColor: #bbbbbb;
    --textColor: #030305;
    --textShadowColor: #ffffffaa;
    --textShadowColorInverse: #000000aa;
    --dateColor: #707070;
    --boxShadowColor: #03030345;
    --boxShadowColorHeavy: #03030370;
    --boxShadowColorLight: #00000020;
    --borderColor: #050505;
    --linkColor: #5555bb;
    --errorBoxColor: #cc2222;
    --iconColor: #000000;
    --githubIconURL: url('/imgs/github-black.png');
    --userIconURL: url('/imgs/user-black.png');
    --cogIconURL: url('/imgs/cog-black.png');
}

*{
    box-sizing: border-box;
    color: var(--textColor);
}

body {
    background-color: var(--backgroundColor);
    margin: 0;
}

a {
    color: var(--linkColor);
}

svg {
    color: var(--iconColor);
}

.header{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 40px;
    background-color: var(--headerColor);
    top: 0%;
    align-items: center;
    text-align: center;
}

.header *{
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    text-shadow: 1px 1px 2px var(--textShadowColor);
}

.footer{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 35px;
    background-color: var(--footerColor);
    bottom: 0%;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.footer *{
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--textShadowColor);
}

#githubIcon{
    background-image: var(--githubIconURL);    
    background-size: cover;
    width: 32px;
    height: 32px;
    margin-bottom: 2px;
}

#errorBox{
    color: var(--errorBoxColor);  
}

.mainForm{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 20px;
    background-color: var(--baseColorHeavy);
    border-radius: 8px;
    margin-top: 70px;
    box-shadow: 0 4px 8px 0 var(--boxShadowColor);
}

.mainform *{
    color: #000000;
}

.mainForm legend{
    position: relative;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    justify-self: center;
}

.mainForm label{
    display: inline-block;
    position: relative;
    margin-bottom: -15px;
}

.mainForm input[type="text"],input[type="password"]{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--baseColorLight);
    box-sizing: border-box;
    border: 2px solid #777777;
    border-radius: 4px;
    margin-bottom: -5px;
    font-size: 20px;
}

.mainForm button[type="submit"]{
    position: relative;
    height: 30px;
    background-color: var(--baseColorLight);
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 5px;
    cursor: pointer;
}

#localSettingsButton{
    background-image: var(--cogIconURL);
    background-size: cover;
    position: absolute;
    right: 15px;
    height: 35px;
    width: 35px;
    margin-bottom: 2px;
    z-index: 11;
    cursor: pointer;
}

#localSettingsPanel{
    display: none;
    z-index: 10;
}

#theme{
    cursor: pointer;
}

#darkFilter {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #000000aa;
    z-index: 9;
}

.dropdownMenu{
    display: none;
    width: 260px;
    height: 99px;
    margin-top: 5px;
}

.dropdownOption{
    width: 260px;
    height: 33px;
    padding: 5px;
    background-color: var(--baseColorHeavy);
    border-width: 1px;
    border-style: outset;
    border-radius: 1px;
    border-color: var(--borderColor);
    box-shadow: 2px 4px 8px 0 var(--boxShadowColor);
    text-shadow: 1px 1px 2px var(--textShadowColor);
    cursor: pointer;
}

