body{
    display: flexbox;
}

#userSettingsButton{
    background-image: var(--userIconURL);
    background-size: cover;
    position: absolute;
    right: 70px;
    height: 35px;
    width: 35px;
    margin-bottom: 2px;
    z-index: 11;
    cursor: pointer;
}

#userSettingsPanel{ 
    display: none;
    z-index: 10;
}

#chatWrapper {
    position: fixed;
    width: calc(50vw + 200px);
    height: calc(60vh + 150px);
    top: 60px; 
    left: 50%;
    transform: translate(-50%, 0%);
    border-width: 2px;
    border-style: solid;
    border-color: var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 var(--boxShadowColor);
}

#chatbox {
    width: 100%;
    height: calc(100% - 36px);
    background-color: var(--baseColor);
    overflow-y: scroll;
    overflow-x: hidden;
}

#msgBar {
    display: flex;
    width: 100%;
    height: 36px;
    border-width: 2px;
    border-style: inset;
    border-color: var(--borderColor);
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

#msgInput {
    width: calc(90% - 50px);
    height: 100%;
    background-color: var(--baseColorLight);
    border-style: none;
    font-size: 20px;
    resize: none;
    line-height: 1.5;
}

#msgInput:focus {
    outline-style: outset;
    outline-width: 1px;
    box-shadow: inset 0 3px 6px 0 var(--boxShadowColor);
}

#sendButton {
    display: inline;
    width: calc(10% + 50px);
    height: 100%;
    background-color: var(--baseColorHeavy);
    border-width: 2px;
    border-style: inset;
    border-color: var(--borderColor);
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    text-align: center;
    align-content: center;
    font-size: 25px;
    cursor: pointer;
    overflow: hidden;
}

#sendButton:focus {
    outline-style: outset;
    outline-width: 1px;
    box-shadow: inset 0 3px 6px 0 var(--boxShadowColor);
}

.messageWrapper {
    width: 100%; 
    min-height: 1.2em; 
    position: relative;
    display: inline;
    width: 100%;
    min-height: 1.2em;
    height: auto;
    line-height: 1.5;
    font-size: 15px;
    word-wrap: anywhere;
    word-break: break-all;
    overflow-wrap: anywhere;
    overflow: hidden;
    white-space: pre-wrap;
}

.user {
    color: #2222dd;
    text-shadow: 1px 1px 1px #000000cc;
}

.date {
    color: var(--dateColor);
    text-shadow: 1px 1px 1px var(--textShadowColor);
}

.message {
    position: relative;
    display: block;
    width: 100%;
    min-height: 1.2em;
    height: auto;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.5;
    font-size: 15px;
    word-wrap: anywhere;
    word-break: break-all;
    overflow-wrap: anywhere;
    overflow: hidden;
    white-space: pre-wrap;
}

.messageDark {
    background-color: var(--baseColorHeavy);
    z-index: 5;
    box-shadow: 0 2px 4px 0 var(--boxShadowColorLight);
}

.messageLight {
    background-color: var(--baseColorLight);
}

.readMoreButton{
    height: 22px;
    width: 100%;
    background-color: var(--baseColorHeaviest);
    position: relative;
    color: var(--dateColor);
    font-weigth: bold;
    font-style: italic;
    padding-left: 10px;
    user-select: none;
    text-shadow: 2px 2px 2px var(--textShadowColor);
}

.dateMessage {
    position: relative;
    display: block;
    width: 100%;
    min-height: 25px;
    height: auto;
    padding-left: 3px;
    line-height: 1.5;
    font-size: 15px;
    word-wrap: anywhere;
    word-break: break-all;
    overflow-wrap: anywhere;
    background-color: var(--baseColorHeaviest);
    text-align: center;
    z-index: 6;
    box-shadow: 1px 1px 4px 1px var(--boxShadowColorHeavy);
}
