body{
    display: flexbox;
}

#settingsButton{
    background-image: url("/imgs/cog.svg");
    height: 35px;
    width: 35px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 2px;
    z-index: 11;
    cursor: pointer;
}

#settingsPanel{ 
    display: none;
    z-index: 10;
}

#darkFilter {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #000000aa;
    z-index: 9;
}

.header{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 40px;
    background-color: #cbcbcb;
    top: 0%;
    align-items: center;
    text-align: center;
}

.header *{
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    color: #000000;
    text-shadow: 1px 1px 2px #ffffffaa;
}

.footer{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 35px;
    background-color: #bbbbbb;
    bottom: 0%;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.footer *{
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 2px #ffffffaa;
}

.footer img{
    width: 28px;
    height: 28px;
    margin-left: 5px;
    margin-top: -2px;
}

#chatWrapper {
    position: fixed;
    width: calc(50vw + 200px);
    height: calc(60vh + 150px);
    top: 60px; 
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#chatbox {
    width: 100%;
    height: calc(100% - 36px);
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;

}

#msgInput {
    width: 80%;
    height: 36px;
    border-width: 2px;
    border-style: inset;
    border-color: #000000;
    border-bottom-style: none;
    border-left-style: none;
    font-size: 20px;
    resize: none;
    line-height: 1.5;
}

#msgInput:focus {
    outline-style: outset;
    outline-width: 1px;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

#sendButton {
    position: absolute;
    width: 20%;
    height: 36px;
    border-width: 2px;
    border-style: inset;
    border-color: #000000;
    border-bottom-style: none;
    border-right-style: none;
    font-size: 25px;
    cursor: pointer;
    overflow: hidden;
}

#sendButton:focus {
    outline-style: outset;
    outline-width: 1px;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

.user {
    color: #2222dd;
    text-shadow: 2px 2px 4px rgba(0, 0, 10, 0.40);
}

.date {
    color: #707070;
}

.message {
    position: relative;
    display: block;
    width: 100%;
    min-height: 20px;
    height: auto;
    padding-left: 3px;
    line-height: 1.5;
    font-size: 15px;
    word-wrap: anywhere;
    word-break: break-all;
    overflow-wrap: anywhere;
}

.messageDark {
    background-color: #f6f6f6;
    z-index: 5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.messageLight {
    background-color: #ffffff;
}
